
.angular-google-map-container {
	height: 400px;
	margin-bottom: 20px;
}

.bb-logo {
	display: block;
	width: 228px;
	height: 18px;
}

.btn-filter {
	padding-bottom: 10px;
}

.panel-footer {
	background-color: white;
	text-align: center;
}

.pagination {
	margin: 0 0;
}

.alert {
	margin-bottom: 10px;
}

h3 {
	display:inline-block;
	margin-top: 0px;
	margin-bottom: 15px;
	font-size: 26px; 
}