<!-- This first div with ng-show is to avoid "FOUC" inside the ng-view -->
<div ng-if="ctrl.parking">
	<div>
		<h3>{{ ctrl.parking.Name }}</h3>
		<button type="button" ng-click="ctrl.back()" class="btn btn-primary pull-right">Back</button>
	</div>
	<div class="alert bg-success" ng-class="{ 'bg-danger' : ctrl.parking.FreeSpaceShort == 0 }" role="alert">
	Short spots available: 
		<span class="badge">{{ ctrl.parking.FreeSpaceShort }}</span> of <span class="badge">{{ ctrl.parking.ShortCapacity }}</span>
	</div>
	<div class="alert bg-success" ng-class="{ 'bg-danger' : ctrl.parking.FreeSpaceLong == 0 }">Long spots available: 
		<span class="badge">{{ ctrl.parking.FreeSpaceLong }}</span> of <span class="badge">{{ ctrl.parking.LongCapacity }}</span>
	</div>
</div>

<ui-gmap-google-map ng-if="ctrl.map.center" center="ctrl.map.center" zoom="ctrl.map.zoom" draggable="true">
	<ui-gmap-markers models="ctrl.map.markers" coords="'self'">
		<ui-gmap-windows show="show">
			<div ng-non-bindable>{{ title }}</div>
		</ui-gmap-windows>
	</ui-gmap-markers>
</ui-gmap-google-map>