<div class="btn-group btn-filter" role="group">
    <button type="button" ng-class="{ active : ctrl.spotType == 'short'}" class="btn btn-default" ng-click="ctrl.spotType = 'short'">Short spots</button>
    <button type="button" ng-class="{ active : ctrl.spotType == 'long'}" class="btn btn-default" ng-click="ctrl.spotType = 'long'">Long spots</button>
</div>
<div class="btn-group btn-filter pull-right">
    <ul class="pagination">
        <li ng-class="{ 'disabled' : ctrl.previousPage == ctrl.page }"><a href="#!/list/{{ ctrl.previousPage }}"><span>&laquo;</span></a></li>
        <li ng-class="{ 'disabled' : ctrl.nextPage == ctrl.page }"><a href="#!/list/{{ ctrl.nextPage }}"><span>&raquo;</span></a></li>
    </ul>
</div>

<div class="list-group">
    <a href="#!/spot/{{ parking.id }}" class="list-group-item list-group-item-success"
    ng-class="ctrl.parkingClass(parking, ctrl.spotType)" ng-repeat="parking in ctrl.parkings track by parking.id" >{{ parking.Name }}
        <span class="badge">{{ ctrl.spotType == 'short' ? parking.FreeSpaceShort : parking.FreeSpaceLong }}</span>
    </a>
</div>